.productDetails {
   display: flex;
   justify-content: center;
   flex-direction: column;
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
   }
   &__info {
      display: flex;
      flex-direction: column;
   }
}
